#page-container {
    position: relative;
    min-height: max-content;
}

#about {
    border-bottom: 1px solid red;
}

.bio {
    position: relative;
    border: 0.1px solid black;
    background-color: rgb(245, 244, 244);
    padding: 40px;
}

@media only screen and (max-width: 767px) {
    .s-logo {
        margin-top: 20px;
        margin-bottom: 20px;
        max-height: 200px !important;
        margin-left: auto;
        margin-right: auto;

    }

    .school h5 {
        text-align: center;
    }

    #page-container {
        padding-right: 10px;
        padding-left: 10px;
    }
}

#profilepic {
    border-radius: 50%;
    width: 80%;
    margin: 20px;
}

#profilepic:hover {
    animation-name: spin;
    animation-duration: 700000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(99999999deg);
    }
}

.mediabtns {
    margin-bottom: 10px;
}

#resume {
    margin-top: 60px;
    position: relative;
    border: 0.1px solid black;
    background-color: rgb(245, 244, 244);
    padding: 40px;
}

#resume h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.s-row {
    padding: 10px;
    padding-left: 30px;
}

.s-logo {
    max-height: 100px;
}

.exp {
    padding-left: 50px;
}

.exp ul {
    margin-left: 40px;
}


#tech-stack {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    border: 0.1px solid black;
    background-color: rgb(245, 244, 244);
    padding: 20px;
    padding-bottom: 0px;
}

#tech-stack h3 {
    text-align: center;
    margin: 20px;
}

#tech-stack p {
    text-align: center;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
}

#symbs {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#symbs img {
    max-height: 80px;
    max-width: 80px;
    margin: 3px;
}

.dummy {
    position: relative;
    color: white;
    margin-top: 60px;
}